@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-accent: #3b82f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.animate-reveal {
  opacity: 0;
  transform: translateY(20px);
}
